In [21]:
import pandas as pd
import csv
from function import map_month, get_season

In [22]:
# shows us what were working with
url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"
shark_data =  pd.read_excel(url)  # usecols=["Embarked"]
shark_data.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",NaN,16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# replace all sentence and whitespace from the string date before handling to season
shark_data['Date'] = shark_data['Date'].replace('Before ', '', regex=True)
shark_data['Date'] = shark_data['Date'].replace(' ', '-', regex=True)
# Extract all months ans year from the columns date
shark_data['Month'] = shark_data['Date'].str.extract(r'([a-zA-Z]+)')
shark_data['Year']= shark_data['Date'].str.extract(r'(\d{4})')

shark_data['Month'] = shark_data['Month'].apply(map_month)
# Finish the category seasson for the months
shark_data['Season'] = shark_data['Month'].apply(get_season)

In [24]:
shark_data

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Month,Season
0,15-Mar-2024,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",NaN,16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,March,Spring
1,04-Mar-2024,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,March,Spring
2,02-Mar-2024,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,March,Spring
3,25-Feb-2024,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,February,Winter
4,14-Feb-2024,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,February,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown

In [25]:
url = "https://marineprotectedareas.noaa.gov/media/data/NOAA_Marine_Protected_Areas_Inventory_2023.xlsx"
usa_shark_data =  pd.read_excel(url)  
usa_shark_data.head()

,FID,OBJECTID,Site ID,Site Name,Level of Government,State,Level of Protection,Management Agency,Management Plan,Primary Conservation Focus,Conservation Focus,Fishing Restrictions,Protection Focus,Permanence,Constancy,Year Established,Anchor,Vessel,IUCN_MPA,IUCN category,Category,Marine Status,URL,WDPA_Cd,ProSeasID,Designation,Area (km2),Marine Area (km2),Percent Area Marine,No-Take Area (km2),Longitude,Latitude,VxCount,SHAPE_Leng,SHAPE_Area,Shape__Area,Shape__Length
0,1,1,AK25,Walrus Islands State Game Sanctuary,State,AK,Zoned w/No Take Areas,Alaska Department of Fish and Game,Non-MPA Programmatic Species Management Plan,Natural Heritage,Natural Heritage,Commercial Fishing Restricted,Focal Resource,Permanent,Year-round,1989,NaN,NaN,1,IV,IUCN MPA,Marine,http://www.adfg.alaska.gov/index.cfm?adfg=walr...,22663,AK25,State Game Sanctuary,753.325000,745.460999,99,0.000000,-160.231047,58.700885,2601,3.298504,0.117017,2.791294e+09,491586.303131
1,2,2,NPS10,Cape Hatteras National Seashore,Federal,NC,Uniform Multiple Use,National Park Service,Site-Specific Management Plan,Natural Heritage,Natural Heritage and Cultural Heritage,Commercial and Recreational Fishing Restricted,Ecosystem,Permanent,Year-round,1937,Unrestricted,Restricted,1,V,IUCN MPA,Mixed,https://www.nps.gov/caha/index.htm,1074,NPS10,National Seashore,126.102000,28.920485,23,0.000000,-75.617180,35.242412,3797,2.741455,0.012495,1.901409e+08,343505.400043
2,3,3,AS1,Ofu Vaoto Marine Park,Territorial,ASM,No Take,American Samoa Department of Parks & Recreation,No Management Plan,Natural Heritage,Natural Heritage,Commercial and Recreational Fishing Prohibited,Ecosystem,Permanent,Year-round,1994,NaN,NaN,1,Ia,IUCN MPA,Marine,https://gaiapassage.com/american-samoa/,0,AS1,Marine Park,0.384755,0.384748,100,0.384755,-169.670240,-14.186982,51,0.025235,0.000032,4.093436e+05,2837.034473
3,4,4,CT1,Bluff Point State Park/Natural Area Preserve,State,CT,Zoned Multiple Use,Connecticut Department of Environmental Protec...,Site-Specific Management Plan,Natural Heritage,Natural Heritage,Recreational Fishing Restricted,Ecosystem,Permanent,Year-round,1963,NaN,NaN,1,IV,IUCN MPA,Interface,http://www.ct.gov/deep/cwp/view.asp?a=2716&q=3...,55557932,CT1,State Park/Natural Area Preserve,2.984600,0.112254,4,0.000000,-72.030288,41.323971,547,0.156012,0.000321,5.292001e+06,19914.004750
4,5,5,CT10,Silver Sands State Park/Charles Island Natural...,State,CT,Zoned Multiple Use,Connecticut Department of Environmental Protec...,No Management Plan,Natural Heritage,Natural Heritage,Recreational Fishing Restricted,Ecosystem,Permanent,Year-round,1955,NaN,NaN,1,IV,IUCN MPA,Interface,http://www.ct.gov/deep/cwp/view.asp?a=2716&q=3...,0,CT10,State Park/Natural Area Preserve,1.225850,0.014841,1,0.000000,-73.069498,41.202265,863,0.114932,0.000131,2.165473e+06,14112.522816

In [26]:
shark_data.dropna(thresh=6, inplace=True) # to delete rows with 5 or less empty values

In [27]:
# drops all unwanted columns and saves the results to a series called shark_data_trimmed
drop_cols = ['pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'Species ', 'original order', 'Unnamed: 21', 'Unnamed: 22', 'Source', 'Unnamed: 11', "Name"]
shark_data_trimmed = shark_data.drop( drop_cols, axis=1)

shark_data_trimmed

# Note: think about doing this step before the provoked and unprovoked variables so its based off the trimmed data

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Month,Season
0,15-Mar-2024,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,F,13,"Minor injuries to back, abdomen and legs",16h00,March,Spring
1,04-Mar-2024,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,M,NaN,"No injury, shark bit surfboard",NaN,March,Spring
2,02-Mar-2024,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,F,11,Lacerations to left foot,13h30,March,Spring
3,25-Feb-2024,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,F,46,Leg bitten,11h30,February,Winter
4,14-Feb-2024,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32,Calf of lower left leg injured,NaN,February,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,NaN,Unknown,Unknown
6940,1903,1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,NaN,Unknown,Unknown
6941,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,NaN,Unknown,Unknown
6942,1883-1889,1883,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,FATAL,NaN,Unknown,Unknown
6943,1845-1853,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,Unknown,Unknown

In [28]:
usa_attack_data = shark_data_trimmed.groupby('Country').get_group('USA')
usa_attack_data

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Month,Season
1,04-Mar-2024,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,M,NaN,"No injury, shark bit surfboard",NaN,March,Spring
2,02-Mar-2024,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,F,11,Lacerations to left foot,13h30,March,Spring
10,30-Dec-2023,2023,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,M,39,FATAL,11h12,December,Winter
24,05-Nov-2023,2023,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,M,66,Lacerations to right forearm,10h30,November,Fall
29,25-Oct-2023,2023,Unprovoked,USA,Hawaii,"Pua’ena Point, Haleiwa, Oahu",Surfing,M,30,Bite to right thigh,15h05,October,Fall
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891,1958,1958,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Standing,M,NaN,Abrasions & bruises hip to ankle,NaN,Unknown,Unknown
6925,1921,1921,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,M,NaN,2-inch lacerations,NaN,Unknown,Unknown
6930,17-Jul-1916,1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,M,NaN,"""Lost leg""",NaN,July,Summer
6934,Circa-1862,1862,Unprovoked,USA,Hawaii,Puna,NaN,F,NaN,Ankle bitten,NaN,Unknown,Unknown
6941,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,NaN,Unknown,Unknown

In [29]:
# makes a series variable of data for provoked attacks
provoked_data = usa_attack_data[usa_attack_data['Type'] == 'Provoked']
provoked_data_unique = provoked_data.drop_duplicates(subset=['Activity'], keep='first')
provoked_data

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Month,Season
80,19--May-2023,2023,Provoked,USA,Florida,"Flagship Drive, Summerland Key, Monroe County",Fishing,M,35,PROVOKED INCIDENT Hooked shark bit his foot,20h00,May,Spring
85,11-May-2023,2023,Provoked,USA,Hawaii,"Kualoa, Oahu",Kayak fishing,M,NaN,"Shark bit kayak, no inury to occupant",NaN,May,Spring
116,01-Jan-2023,2023,Provoked,USA,Florida,70 miles off Pensacola,Spearishing,M,30,Knocked spear out of his hands and fin bitten,14h50,January,Winter
126,03-Nov-2022,2022,Provoked,USA,Florida,"Cape San Blas, Gulf County",Fishing,M,29,Right knee & thigh bitten by hooked shark,15h30,November,Fall
130,27-Oct-2022,2022,Provoked,USA,Mississippi,Horn Island,Fishing,M,NaN,Minor injuries,NaN,October,Fall
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6524,28-Jul-1873,1873,Provoked,USA,Maryland,Chester River,Fishing (Seining),M,NaN,Leg severely bitten by netted shark. Lower leg...,NaN,July,Summer
6538,Aug-1871,1871,Provoked,USA,New York,Long Island,Shark fishing,M,NaN,Hand injured PROVOKED INCIDENT,NaN,August,Summer
6588,Reported-09-Jul-1863,1863,Provoked,USA,Hawaii,Palama,Fishing,M,NaN,Hand severed by noosed shark PROVOKED INCIDENT,NaN,Unknown,Unknown
6696,06-Jul-1842,1842,Provoked,USA,New Jersey,"Absecon, Atlantic County",Harassing a shark,NaN,NaN,Lacerations to leg PROVOKED INCIDENT,NaN,July,Summer
6868,"No-date,--1975",1975,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,M,19,"Ankle punctured & lacerated, hands abraded PRO...",NaN,Unknown,Unknown

In [30]:
# makes a series variable of data for unprovoked attacks
non_provoked_data = usa_attack_data[usa_attack_data['Type'] != 'Provoked']
non_provoked_data

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Month,Season
1,04-Mar-2024,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,M,NaN,"No injury, shark bit surfboard",NaN,March,Spring
2,02-Mar-2024,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,F,11,Lacerations to left foot,13h30,March,Spring
10,30-Dec-2023,2023,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,M,39,FATAL,11h12,December,Winter
24,05-Nov-2023,2023,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,M,66,Lacerations to right forearm,10h30,November,Fall
29,25-Oct-2023,2023,Unprovoked,USA,Hawaii,"Pua’ena Point, Haleiwa, Oahu",Surfing,M,30,Bite to right thigh,15h05,October,Fall
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891,1958,1958,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Standing,M,NaN,Abrasions & bruises hip to ankle,NaN,Unknown,Unknown
6925,1921,1921,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,M,NaN,2-inch lacerations,NaN,Unknown,Unknown
6930,17-Jul-1916,1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,M,NaN,"""Lost leg""",NaN,July,Summer
6934,Circa-1862,1862,Unprovoked,USA,Hawaii,Puna,NaN,F,NaN,Ankle bitten,NaN,Unknown,Unknown
6941,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,NaN,Unknown,Unknown

In [31]:
non_provoked_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2305 entries, 1 to 6941
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2305 non-null   object
 1   Year      2278 non-null   object
 2   Type      2297 non-null   object
 3   Country   2305 non-null   object
 4   State     2300 non-null   object
 5   Location  2257 non-null   object
 6   Activity  2159 non-null   object
 7   Sex       2217 non-null   object
 8   Age       1611 non-null   object
 9   Injury    2299 non-null   object
 10  Time      1536 non-null   object
 11  Month     2305 non-null   object
 12  Season    2305 non-null   object
dtypes: object(13)
memory usage: 252.1+ KB

In [33]:
non_provoked_data['Year'] = pd.to_numeric(non_provoked_data['Year'])
non_provoked_data.head().groupby(['Date','State', 'Location'])['Year'].mean()

<class 'pandas.core.frame.DataFrame'>
Index: 2305 entries, 1 to 6941
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2305 non-null   object
 1   Year      2278 non-null   float64
 2   Type      2297 non-null   object
 3   Country   2305 non-null   object
 4   State     2300 non-null   object
 5   Location  2257 non-null   object
 6   Activity  2159 non-null   object
 7   Sex       2217 non-null   object
 8   Age       1611 non-null   object
 9   Injury    2299 non-null   object
 10  Time      1536 non-null   object
 11  Month     2305 non-null   object
 12  Season    2305 non-null   object
dtypes: float64(1), object(12)
memory usage: 252.1+ KB

Date         State    Location
02-Mar-2024  Hawaii   Rainbows, Oahu                   2024.0
04-Mar-2024  Hawaii   Old Man's, Waikiki               2024.0
05-Nov-2023  Florida  Juno Beach, Palm Beach County    2023.0
25-Oct-2023  Hawaii   Pua’ena Point,  Haleiwa, Oahu    2023.0
30-Dec-2023  Hawaii   Baby Beach, Maui                 2023.0
Name: Year, dtype: float64

In [ ]:
non_pro_pivot = non_provoked_data.pivot_table(index='State', columns='Month' , values=['Season'], aggfunc='sum')

pd.set_option('display.max_columns', None) # shows all columns
non_pro_pivot.head()

In [ ]:
shark_data

In [ ]:
us_attacks = non_provoked_data[non_provoked_data['Country'] == 'USA']

In [ ]:
attacks_by_season = us_attacks.groupby('Season').size()
print("Total amount of unprovoked Shark Attacks by Seasons: ")
print(attacks_by_season)

In [ ]:
provoked_data['Age'] = pd.to_numeric(shark_data['Age'], errors='coerce')

In [ ]:
provoked_age = provoked_data.groupby("Sex")['Age'].mean()
provoked_age

In [ ]:
provoked_age = provoked_data.groupby("Sex")['Age'].median()
provoked_age

In [ ]:
provoked_age = provoked_data.groupby("Sex")['Sex'].count()
provoked_age