In [317]:
# shark_data.loc[2,'Name'] = "female"
# shark_data.loc[2,'Name']
# pd.isna(shark_data.loc[2,'Name'])

# # Iterar sobre as linhas do DataFrame
# for index, row in shark_data.iterrows():
#     # Verificar se o valor na coluna 'coluna' é igual ao valor desejado
#     if pd.isna(row['Name']):
#         # Se for igual, alterar o valor na coluna 'outra_coluna' para 'novo_valor'
#        if row['Sex'] == 'm':
#           shark_data.loc[index, 'Name'] = 'male'
#        else:
#           shark_data.loc[index, 'Name'] = 'female'

In [318]:
# shark_data.loc[shark_data['Age'] < 18, 'Category'] = 'Child'
# shark_data.loc[(shark_data['Age'] >= 18) & (shark_data['Age'] <= 30), 'Category'] = 'Young'
# shark_data.loc[shark_data['Age'] > 30, 'Category'] = 'Adult'
# shark_data.dtypes

In [319]:
# shark_data.dropna(thresh=6, inplace=True) # to delete rows with 5 or less empty values
# pattern = r'(\d{2}-?\w{2:5}-\d{4})'
# shark_data2 = shark_data['Date'].str.extract(pattern)
# shark_data['Date'] = shark_data['Date'].replace('^-', '', regex=True)
# pd.to_datetime(shark_data['Date'],dayfirst=True)
# month_to_season = {
#     'January': 'Winter',
#     'February': 'Winter',
#     'March': 'Spring',
#     'April': 'Spring',
#     'May': 'Spring',
#     'June': 'Summer',
#     'July': 'Summer',
#     'August': 'Summer',
#     'September': 'Fall',
#     'October': 'Fall',
#     'November': 'Fall',
#     'December': 'Winter'
# }
# shark_data['Seassons'] = shark_data['Date'].map(month_to_season)

# shark_data['Month'] = shark_data['Date'].str.extract(r'([a-zA-Z]+)')
# shark_data['Year']= shark_data['Date'].str.extract(r'(\d{4})')

# def map_month(month_abbr):
#     month_abbr_to_full = {
#         'Jan': 'January', 'Feb': 'February', 'Mar': 'March', 'Apr': 'April',
#         'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August',
#         'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'
#     }
#     return month_abbr_to_full.get(month_abbr, 'Unknown')

# def get_season(month):
#     if month in ['December', 'January', 'February']:
#         return 'Winter'
#     elif month in ['March', 'April', 'May']:
#         return 'Spring'
#     elif month in ['June', 'July', 'August']:
#         return 'Summer'
#     elif month in ['September', 'October', 'November']:
#         return 'Fall'
#     else:
#         return 'Unknown'
    
# shark_data['Month'] = shark_data['Month'].apply(map_month)

# shark_data['Season'] = shark_data['Month'].apply(get_season)

# shark_data['Season']

In [320]:
# import pandas as pd
# import matplotlib.pyplot as plt

# dados_shark_attacks = pd.read_excel(url)

# incident_counts = dados_shark_attacks['Type'].value_counts()
# injury_counts = dados_shark_attacks['Injury'].value_counts()

In [321]:
# import matplotlib.pyplot as plt
# plt.bar(incident_counts.index, incident_counts.values)
# plt.xlabel('Type of Incident')
# plt.ylabel('Frequency')
# plt.title('Distribution of Incident Types')
# plt.show()

In [322]:
# shark_data.head()
# shark_data['Species'] = shark_data['Species'].replace('\d+', '', regex=True)
# shark_data.head()

In [323]:
"""Hypothesis 3: Season and Frequency of Attacks: While we do not have specific data on weather events,
we can explore whether certain times of year have a higher incidence of shark attacks by using the "Date" 
column to identify the season in which the attacks occurred.""" 

import pandas as pd
import matplotlib.pyplot as plt
url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

shark_data = pd.read_excel(url)

# Remove all columns irrelevant for this analysis 

drop_cols = ['pdf', 'hrefformula', 'href', 'CaseNumber', 'CaseNumber.1', 'originalorder', 'Unnamed:21', 'Unnamed:22', 'Source', 'Species',  'Unnamed:11',	"Name", "Location"]
shark_data.columns = shark_data.columns.str.replace(' ', '')
shark_data.drop(drop_cols, axis=1, inplace=True)
# Remove all countries that are irrelevant for this analysis 
shark_data.drop(shark_data[shark_data['Country'] != 'USA'].index, inplace=True)

In [324]:
shark_data.isnull().sum()

Date          0
Year          0
Type          8
Country       0
State         6
Activity    155
Sex         104
Age         804
Injury        6
Time        909
dtype: int64

In [325]:
# replace all sentence that are not usefull as a filter and replaced to Injured to compare to seasson
shark_data.loc[shark_data['Injury'] != 'Fatal', 'Injury'] =  "Injured"

In [326]:
# Conveting Age into numerical and creating a Category.
shark_data['Age'] = pd.to_numeric(shark_data['Age'], errors='coerce')
shark_data.loc[shark_data['Age'] < 18, 'Category'] = 'Child'
shark_data.loc[(shark_data['Age'] >= 18) & (shark_data['Age'] <= 30), 'Category'] = 'Young'
shark_data.loc[shark_data['Age'] > 30, 'Category'] = 'Adult'

In [327]:
# replace all sentence and whitespace from the string date before handling to season

shark_data['Date'] = shark_data['Date'].replace('Before ', '', regex=True)
shark_data['Date'] = shark_data['Date'].replace(' ', '-', regex=True)

# Extract all months ans year from the columns date 


shark_data['Month'] = shark_data['Date'].str.extract(r'([a-zA-Z]+)')
shark_data['Year']= shark_data['Date'].str.extract(r'(\d{4})')

# Create a Category for all months 
def map_month(month_abbr):
    month_abbr_to_full = {
        'Jan': 'January', 'Feb': 'February', 'Mar': 'March', 'Apr': 'April',
        'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August',
        'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'
    }
    return month_abbr_to_full.get(month_abbr, 'Unknown')

def get_season(month):
    if month in ['December', 'January', 'February']:
        return 'Winter'
    elif month in ['March', 'April', 'May']:
        return 'Spring'
    elif month in ['June', 'July', 'August']:
        return 'Summer'
    elif month in ['September', 'October', 'November']:
        return 'Fall'
    else:
        return 'Unknown'
    
shark_data['Month'] = shark_data['Month'].apply(map_month)
# Finish the category seasson for the months 
shark_data['Season'] = shark_data['Month'].apply(get_season)

In [362]:
# Start analyzing
# shark_data.groupby(["Season", "Category"]).size()


# data2 = shark_data

# # ¿data2= data2.drop(index=data2.index[data2['Category'].isnull()])
# data2
# # data2
# data2=data2.dropna(subset="Type")
# display(data2.isnull().sum())

Date          0
Year         28
Type          0
Country       0
State         6
Activity    154
Sex         104
Age         854
Injury        0
Time        908
Category      0
Month         0
Season        0
dtype: int64

In [335]:

# # Remover as linhas identificadas pela máscara
# data2 = shark_data

# # ¿data2= data2.drop(index=data2.index[data2['Category'].isnull()])
# data2
# # data2
# print(data2["Category"].isn().sum())

0

In [369]:
summary_table = pd.pivot_table(shark_data, values=['Injury'], index=['Season','Category'], aggfunc=['count'])
summary_table

                  count
                 Injury
Season  Category
Fall    Adult       164
        Child       114
        Young       188
        nan         193
Spring  Adult       120
        Child        98
        Young       117
        nan         122
Summer  Adult       218
        Child       296
        Young       217
        nan         276
Unknown Adult         7
        Child        15
        Young         9
        nan         188
Winter  Adult        51
        Child        19
        Young        49
        nan          77